<section class="beerlist">
  <table>
    <thead>
      <tr>
        <td>{{titulos.name}}</td>
        <td>{{titulos.description}}</td>
        <td>{{titulos.price}}</td>
        <td>{{titulos.image}}</td>
        <td>{{titulos.stock}}</td>
      </tr>
    </thead>
    <img [src]="imgSource" alt="">
    <tbody>
      <tr *ngFor="let cerveza of cervezas" [ngClass]="{
        'enoferta' : cerveza.price < 40,
        'nostock' : cerveza.stock === 0
      }">
        <td>{{cerveza.style}}</td>
        <td>{{cerveza.name}}</td>
        <td>{{cerveza.price | currency: '$'}}</td>
        <td><img class="beerimg" src="../../assets{{cerveza.image}}" alt=""></td>
        <td>
          <span *ngIf="cerveza.stock === 0">AGOTADO</span>
          <span *ngIf="cerveza.stock > 0">HAY {{cerveza.stock}}</span>
        </td>
        <td>
          <input [disabled]="cerveza.stock == 0" type="text" [(ngModel)]="cerveza.quantity" (keypress)="onlyNumbers($event)">
          <button [disabled]="cerveza.stock == 0" (click)="masCerveza(cerveza)">+</button>
          <button [disabled]="cerveza.stock == 0" (click)="menosCerveza(cerveza)">-</button>
        </td>
        <td>
          <button [disabled]="cerveza.stock == 0" (click)="addCart(cerveza)">Agregar al carrito</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>