<section class="beerlist">
  <table>
    <thead>
      <tr>
        <td>{{titulos.name}}</td>
        <td>{{titulos.description}}</td>
        <td>{{titulos.price}}</td>
        <td>{{titulos.image}}</td>
        <td>{{titulos.stock}}</td>
      </tr>
    </thead>
    <img [src]="imgSource" alt="">
    <tbody>
      <tr *ngFor="let cerveza of cervezas" [ngClass]="{
        'enoferta' : cerveza.price < 100,
        'nostock' : cerveza.stock === 0
      }">
        <td>{{cerveza.name}}</td>
        <td>{{cerveza.description}}</td>
        <td>{{cerveza.price | currency: '$'}}</td>
        <td>{{cerveza.image}}</td>
        <td>
          <span *ngIf="cerveza.stock === 0">AGOTADO</span>
          <span *ngIf="cerveza.stock > 0">HAY {{cerveza.stock}}</span>
        </td>
        <td>
          <input type="text" [(ngModel)]="cerveza.tobuy" (keypress)="onlyNumbers($event)">
          <button (click)="masCerveza(cerveza)">+</button>
          <button [disabled]="cerveza.stock <= 0" (click)="menosCerveza(cerveza)">-</button>
        </td>
        <td>
          <button (click)="comprar(cerveza, cerveza.tobuy)">Comprar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>             