<section class="beercart">
  <table class="beercarttable">
    <thead class="beercarthead">
      <tr>
        <td>{{titulos.name}}</td>
        <td>{{titulos.quantity}}</td>
        <td>{{titulos.price}}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beer of beers">
        <td>{{beer.style}}</td>
        <td>{{beer.quantity}}</td>
        <td>{{beer.price | currency: '$'}}</td>
      </tr>
    </tbody>
  </table>
  <div><span>Total: {{total | currency: '$'}}</span></div>
</section>